<div>
    <ul class="breadcrumb">
        <li><a href="">Home</a></li>
        <li><a href="category.html">Categories</a></li>
    </ul>
</div>
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-align-justify"></i> Categories</h2>
            </div>
            <div class="box-content">
                <div class="box-content">
                    <a class="btn btn-primary btn-add" href="#" data-toggle="modal" data-target="#modalCategoryCreate">
                        <i class="glyphicon glyphicon-plus icon-white"></i>
                        Add New Category
                    </a>
                </div>
                <ng-include src="app.templates.categories.categories_table"></ng-include>
            </div>
        </div>
    </div><!--/span-->
</div><!--/row-->
<!-- content ends -->
<div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalEditLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Edit Category</h3>
            </div>
            <div class="modal-body">
                <div class="box-content">
                    <form role="form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Category Name</label>
                            <input type="text" class="form-control" id="categoryName" placeholder="Category Name" ng-model="categoryItemToEdit.category_name">
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                <a href="#" class="btn btn-primary" data-dismiss="modal" ng-click="app.updateCategory()">Save changes</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalCategoryCreate" tabindex="-1" role="dialog" aria-labelledby="myModalAddLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Add Category</h3>
            </div>
            <div class="modal-body" ng-init="app.new_category = {}">
                <div class="box-content">
                    <form role="form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Category Name</label>
                            <input type="text" class="form-control" id="categoryName" placeholder="Category Name" ng-model="app.new_category.category_name">
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                <a href="#" class="btn btn-primary" data-dismiss="modal" ng-click="app.createCategory()">Save</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalCategoryDelete" tabindex="-1" role="dialog" aria-labelledby="myModalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Delete {{categoryItemToEdit.category_name}}</h3>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this category?</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                <a href="#" class="btn btn-primary" data-dismiss="modal"  ng-click="app.deleteCategory()">Delete</a>
            </div>
        </div>
    </div>
</div>